In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [8]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [5]:
import pandas as pd
titles = pd.read_csv('titles.csv')
print("Number of Movies listed in titles DataFrame:")
len(titles)

Number of Movies listed in titles DataFrame:

244914

### What are the earliest two films listed in the titles dataframe?

In [6]:
print("Earliest two films listed in Dataframe:")
titles.head(2)

Earliest two films listed in Dataframe:

                title  year
0  Tasveer Mere Sanam  1996
1            Only You  1994

### How many movies have the title "Hamlet"?

In [8]:
movie_title = titles[titles['title'] == 'Hamlet']
len(movie_title)

20

### How many movies are titled "North by Northwest"?

In [9]:
movie_title = titles[titles['title'] == 'North by Northwest']
len(movie_title)

1

### When was the first movie titled "Hamlet" made?

In [11]:
print("First movie Hamlet was titled in: ")
hamlet = titles[titles['title'] == 'Hamlet'].sort_values('year')
hamlet.head(1)

First movie Hamlet was titled in:

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
movie = titles[titles['title'] == 'Treasure Island'].sort_values('year')
movie.head()

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972

### How many movies were made in the year 1950?

In [15]:
year=titles[titles['year']==1950]
len(year)

1113

### How many movies were made in the year 1960?

In [16]:
year=titles[titles['year']==1960]
len(year)

1549

### How many movies were made from 1950 through 1959?

In [20]:
movies=titles[(titles['year']>=1950)&(titles['year']<1959)]
len(movies)

11419

### In what years has a movie titled "Batman" been released?

In [21]:
batman=titles[titles['title']=='Batman']
print(batman)

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?