In [5]:
import pandas as pd
from scipy.stats import wilcoxon
data=pd.read_excel("1 Wilcoxon.xlsx")
data.head()

   ID  TRT  AGE  WEIGHIN  STAGE  TOTALCIN  TOTALCW2  TOTALCW4 TOTALCW6
0   1    0   52    124.0      2         6         6         6        7
1   5    0   77    160.0      1         9         6        10        9
2   6    0   60    136.5      4         7         9        17       19
3   9    0   61    179.6      1         6         7         9        3
4  11    0   59    175.8      2         6         7        16       13

In [11]:
stats,p=wilcoxon(data.TOTALCIN,data.TOTALCW2)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

29.5 0.00259741456482452
REJECT NULL HYPOTHESIS

In [12]:
from scipy.stats import friedmanchisquare
stats,p=friedmanchisquare(data.TOTALCIN,data.TOTALCW2,data.TOTALCW4)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

27.927710843373504 8.62133745016363e-07
REJECT NULL HYPOTHESIS

In [23]:
from scipy.stats import mannwhitneyu
data1=pd.read_excel("4 Kruskal Wallis.xlsx")
data1.head()

   Design1  Design2  Design3  Showroom
0       11       12       23         1
1       17       10       20         2
2       16       15       18         3
3       14       19       17         4
4       15       11       10         5

In [25]:
stats,p=mannwhitneyu(data1.Design1,data1.Design2)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

9.0 0.2641796636354743
ACCEPT NULL HYPOTHESIS

In [26]:
from scipy.stats import kruskal
stats,p=kruskal(data1.Design1,data1.Design2,data1.Design3)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

2.7345323741007226 0.25480259087913626
ACCEPT NULL HYPOTHESIS

In [27]:
from scipy.stats import chi2_contingency
data2=pd.read_excel("5 Chi Square Test.xlsx")
data2.head()

     ids  Gender        Smoking
0  43783  Female      NonSmoker
1  20278  Female      NonSmoker
2  20389  Female      NonSmoker
3  22820    Male            NaN
4  24559    Male  CurrentSmoker

In [30]:
chitable=pd.crosstab(data2.Gender,data2.Smoking)
chitable

Smoking  CurrentSmoker  NonSmoker  PastSmoker
Gender
Female              31        149          13
Male                37        148          24

In [32]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

3.1712567666931584 0.20481904779163013
ACCEPT NULL HYPOTHESIS

In [33]:
from scipy.stats import ttest_1samp
data3=pd.read_excel("1. One Sample.xlsx")
data3.head()

     ids  Height
0  43783   72.35
1  20278   70.66
2  20389   70.68
3  24559   67.43
4  28980   68.45

In [42]:
stats,p=ttest_1samp(data3.Height,65)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

11.498800238580099 1.087893570160242e-26
REJECT NULL HYPOTHESIS

In [36]:
from scipy.stats import ttest_rel
data4=pd.read_excel("2. Paired Sample.xlsx")
data4.head()

     ids  English   Math
0  43783    88.24  60.02
1  20278    89.45  70.19
2  20389    96.73  71.20
3  22820    74.06  55.89
4  24559    82.61  65.52

In [43]:
stats,p=ttest_rel(data4.English,data4.Math)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

36.312568981719856 3.0710987192210606e-128
REJECT NULL HYPOTHESIS

In [48]:
from scipy.stats import ttest_ind
data5=pd.read_excel("3 Independent Sample.xlsx")
data5.head()

   Nonathelete  Athelete
0     0.004413  0.004462
1     0.004872  0.005146
2     0.008851  0.004023
3     0.006508  0.003941
4     0.006314  0.004764

In [49]:
stats,p=ttest_ind(data5.Nonathelete,data5.Athelete)
print(stats,p)
if p<0.05:
    print("REJECT NULL HYPOTHESIS")
else:
    print("ACCEPT NULL HYPOTHESIS")

2.129428698191347 0.06585151474102408
ACCEPT NULL HYPOTHESIS